.meta-info-component {
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: left;
}

.meta-info-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.trash-icon {
    width: 20px;
    height: 20px;
    display: inline;
    cursor: pointer;
}

@media screen and (max-width: 1028px) {
    .meta-info-title {
        width: 90%;
        font-size: 1.5em;
    }

    .meta-info-air-date {
        font-size: 0.9em;
    }
}