.collection-container {
    width: 100%;
    height: 100%;
    margin-left: -20px;
    display: flex;
    justify-content: center;
}

.collection-shows {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}