.show-component {
    position: relative;
    width: 234px;
    height: 344px;
    margin-bottom: 68px;
    margin-left: 40px;
}

.show-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58);
    width: 234px;
    height: 92px;
    bottom: -7px;
    text-align: center;
}

.show-title {
    position: relative;
    top: 10px;
    right: 10px;
    left: 10px;
    width: 214px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.show-meta-container {
    position: absolute;
    bottom: 0;
    width: 234px;
    padding: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 0.9em;
}

.show-rating {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.show-air-date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
}