.show-search-result-component {
    position: relative;
    width: 234px;
    height: 344px;
    margin-bottom: 68px;
    margin-left: 40px;
}

.show-search-result-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58);
    width: 234px;
    height: 92px;
    bottom: 0;
    text-align: center;
}

.show-search-result-title {
    position: relative;
    top: 10px;
    right: 10px;
    left: 10px;
    width: 214px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.add-button {
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 50px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.add-button-disabled {
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 50px;
    padding: 10px;
    border: 2px solid grey;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

.add-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}