.search-container {
    width: 100%;
}

.heading-search-results {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 300;
}

.loading-spinner {
    margin-top: 100px;
}