.search-component input {
    min-width: 600px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 928px) {
    .search-component input {
        min-width: 400px;
        font-size: 28px;
    }
}

@media screen and (max-width: 623px) {
    .search-component input {
        min-width: 200px;
        font-size: 14px;
    }
}